/* COLORS:::::::
#8b887b - beige for fonts on white
#b2b0a2 - beige for fonts on black
#a49042 - gold



*/


@font-face{ 
	font-family: 'Didot';
	src: url('../../fonts/didot.eot');
	src: url('../../fonts/didot.eot?#iefix') format('embedded-opentype'),
	     url('../../fonts/didot.woff') format('woff'),
	     url('../../fonts/didot.ttf') format('truetype'),
}


@font-face {
    font-family: 'socicon';
    src: url('../../fonts/socicon-webfont.eot');
    src: url('../../fonts/socicon-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/socicon-webfont.woff') format('woff'),
         url('../../fonts/socicon-webfont.ttf') format('truetype'),
         url('../../fonts/socicon-webfont.svg#sociconregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {	
	height:100%;
	width:100%;
	}
	
body {
	font-family: 'EB Garamond', serif;
	font-size: 62.5% ;
	color: #8b887b;
	background: #fff;
	height:100%;
	width:100%;
	overflow:hidden;
}

* {
    -webkit-backface-visibility:visible;
    position: static;
}

    
.inner-inner-wrap {
  overflow: scroll;
  max-height: 102vh;
  min-width: 100%;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.row {
	max-width:100%;
	font-size: 1.0em;
}

.row .row {
	margin: 0px;
}

.columns {
	padding: 0px;
}

section, .main-content {
	padding: 0em 0em;
	margin: 0em 0em;
}

p {
	font-size:1.6em;
}

.dark {
	background: #000;
	color: #b2b0a2;
	padding: 3em;
}

section.dark {
	padding:0px;
}

.tall {
	height: 100% !important;
}


.section-hero {
	padding: 0px !important;
}


.panel-grid {
	margin-bottom: 0px !important;
}

.section-title {
	color: #a49042;
	font-family: "Didot", Georgia, serif;
	font-size: 3.0em;
    font-weight: bold;
	padding-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px #a49042 solid;
	text-align:center;
	margin: 0 auto;
	display: block;
	width: auto;
	max-width: 500px;
	margin-bottom: 1.5em;
	
}

.feature-title, .video-overlay .block-content{
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    color: #a49042;
    margin: 20px;
}

.image {
	background-size: cover;
	background-position: center center;
	height: auto;
}


.button {
    border: 1px solid #a49042;
    background: transparent;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 50px 20px 0px 20px;
    color: #a49042;
    }

.button:hover, .button:active {
	background-color: #a49042;
	color: #fff;
	
}

.button:after {
    content: "〉";
    margin-left: 30px;
    font-size: 1.4em;
    line-height: 0;
    position: relative;
    top: 3px;
}

a {
	color: #a49042;
}

a:hover {
	color: #000;
}

.inner-inner-wrap::-webkit-scrollbar {
    width: 1em;
    z-index:3000;
}
 
.inner-inner-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.inner-inner-wrap::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* ----- Top Bar --- */


.top-bar-container {
	margin: 0;
	position: absolute;
    z-index: 1000;
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  width:100%;
  /*padding-top: 10px;*/
  -webkit-transform: translateZ(0);
}

.top-bar {
	background: transparent;
	max-width:100%;
	padding-left: 50px;
	padding-right: 50px;
	height: 150px;
}

.top-bar-container.start {
	background: transparent;
	height: 150px;
	}


.top-bar-container.sticky {
	background: #fff;
	box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.3);
	margin: 0;
	height: 70px;
	padding-top: 0px;
	display: none;
}

.top-bar li, .top-bar li a {
	display: inline-block;
	font-family: "Montserrat" sans-serif;
	color: #000;
	text-transform: uppercase;
	font-size: 0.8em;
	margin: 0; 
	padding: 0;
	line-height: 60px;
	margin-right: 6px;
}

.top-bar-container.sticky li, .top-bar-container.sticky li a {
	line-height: 70px;	
}

.top-bar ul {
	margin:0;
	padding: 0;
}

.top-bar .title {
	display:block;
	margin: 0 auto;
	width: 300px;
	height: 70px;
	background-image: url('../assets/img/royaltonfarms-title.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	/*margin-top: -8px;
    margin-bottom: -16px;*/
      position : absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
    	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}



.top-bar-container.start .top-bar .bar, .top-bar-container-mobile .top-bar .bar, footer .footer-content .bar{
	font-family: "Montserrat" sans-serif;
    color: #000;
    font-size: 0.6em;
    text-align: center;
    display:inline-block;
	  vertical-align:middle;
	  overflow:hidden;
}

.top-bar-container.start .top-bar .bar span, .top-bar-container-mobile .top-bar .bar span, footer .bar span{
	position: relative !important;  
}


.top-bar-container.start .top-bar .bar span:before,
.top-bar-container.start .top-bar .bar span:after,
.top-bar-container-mobile .top-bar .bar span:before,
.top-bar-container-mobile .top-bar .bar span:after,
footer .footer-content .bar span:before, footer .footer-content .bar span:after{
  content: "";
  position: absolute;
  /*border-bottom: 1px solid #000;*/
  border-top: 1px solid #000;
  width: 2000px;
  height: 1px;
  top: 50%;
}

.top-bar-container.start .top-bar .bar span:before, .top-bar-container-mobile .top-bar .bar span:before, footer .footer-content .bar span:before{
  right: 100%;
  margin-right: 15px;
}
.top-bar-container.start .top-bar .bar span:after, .top-bar-container-mobile .top-bar .bar span:after, footer .footer-content .bar span:after{
  left: 100%;
  margin-left: 15px;
}

.top-bar-container.sticky .top-bar .bar {
	display:none;
}

.top-bar .columns {
padding: 0px;
}


.button.menu-dropdown {
	float: right;
    background: transparent;
    color: #000;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.6em;
    margin-top: 7px;
    padding: 0px;
    border: none;
}


.button.menu-dropdown.button::after, .menu-dropdown.button::after {
    border-color: transparent transparent transparent transparent;
    display:none;
}


#menu-off-canvas {
width:100%;
}

.right-off-canvas-menu {
background: #fff;
}


ul.off-canvas-list li a{
color: #a49042;
    padding-left: 30px;
    border-bottom: 1px solid rgba(38, 38, 38, 0.07);
}

ul.off-canvas-list li a:hover {
background: rgba(38,38,38,0.04);

}

ul.off-canvas-list li a:hover:after{
    content: "〉";
    float:right;
    margin-right: 30px;
    font-size: 1.4em;
    line-height:inherit;
    position:relative;
    top:-5px;
}

.move-right .exit-off-canvas, .move-left .exit-off-canvas { 
box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.41);
-webkit-box-shadow: 1px 0px 30px rgba(0, 0, 0, 0.41);
border-radius: 1px; }


/*--- Top Slider ---- */

.hero {
	position: relative;
	overflow-y: hidden;
	height: 800px;
	width:100%;
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.fullbg {
	width: 100%;
	height: 100%;
	background-size: cover;
	transform: translateZ(0);-webkit-transform: translateZ(0);
	transform: translateZ(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased; /* seems to do the same in Safari Family of Browsers*/
	
}

#splash {
    position: absolute;
    width: 100%;
	height: 100%;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased;
	z-index: -1;
	background-size: 100% 100%;
	background-attachment: fixed;
	
}



#overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
	height: 100%;
	transform: translateZ(0);-webkit-transform: translateZ(0);
	transform: translateZ(0);
    -moz-transform: translatez(0);
    -ms-transform: translatez(0);
    -o-transform: translatez(0);
    -webkit-transform: translateZ(0);
    -webkit-font-smoothing: antialiased; /* seems to do the same in Safari Family of Browsers*/
}





/*---- Homepage ---- */


body.home {
	
}

body.home header {
	display:none;
}


.front-hero {
	/*background: url('../../../uploads/2015/08/layered-hero-bg.jpg') top center;
    background-size: cover; */
}

#overlay .home {
	background-image: url('http://royaltonequestrian.com/develop/royalton/wp-content/uploads/2015/08/layered-hero-house-small.png');
	background-position: bottom  center;
	background-repeat: no-repeat;
	background-size: 200%;	
}

#splash .home {
	background-image: url('	http://royaltonequestrian.com/develop/royalton/wp-content/uploads/2015/08/layered-hero-bg.jpg');
	background-position: center center;
}

.top-blurb.dark {
	padding: 7em;
} 

.top-blurb p {
	max-width: 700px;
    text-align: justify;
    text-align-last: center;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}


.subtitle {
	color: #a49042;
	font-family: "Montserrat" sans-serif;
    font-size: 1.2em;
    text-align: center;
    display:block;
	  vertical-align:middle;
	  overflow:hidden;
	  text-transform: uppercase;
	  width:100%;
	  max-width: 500px;
	  position:relative;
	  margin: 0 auto;
	  margin-top:-5px;
}

.subtitle span:before, .subtitle span:after{
  content: "";
  position: absolute;
  /*border-bottom: 1px solid #000;*/
  border-top: 1px solid #a49042;
  width: 2000px;
  height: 1px;
  top: 50%;
}

.subtitle span {
position:relative;
}

.subtitle span:before, .subtitle span:before {
  right: 100%;
  margin-right: 15px;
}
.subtitle span:after, .subtitle span:after {
  left: 100%;
  margin-left: 15px;
}



.section-content {
	/*padding: 5em;*/
}

.block {
    width: 100%;
    height: 100%;
    display: table;
    text-align: center;
    padding: 80px;
}

.block-content {
    display: table-cell;
    vertical-align: middle;
}

.block-content p {
    text-align: justify;
    text-align-last: center;
    margin: 0 auto;
    max-width: 400px;
}

.block-content .section-title, .block-content .subtitle {
max-width: 400px;
}





/*    Front Page Styles       */


.front-equestrian .overlay {
	background-image: url('../assets/img/layered-grandprix-top-small.png');
	background-position: bottom  center;
	background-repeat: no-repeat;
	background-size: 200%;	
	height: 100%;
	width: 100%;
	position: absolute;
    top: 0;
}

.front-equestrian {
	background-image: url('../assets/img/layered-grandprix-bg.jpg');
	background-position: center center;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transform: translateZ(0);-webkit-transform: translateZ(0);
}


.video img {
	width:100%;
}


.front-estate {
	background-image:url('../assets/img/estate-hero-stretched.jpg');
	background-size: cover;
}



.front-estates {
	background-image:url('../assets/img/estates.jpg');
	background-size: cover;
	padding:15em;
	text-align:center;
}


.front-estates .block {
	display:inline-block;
	background-color: #fff;
    padding: 50px;
    width: auto;
}


.front-news .row{
	padding:5em 15em;
}








/*---- Footer Content -----*/



footer {
	padding: 30px;
	margin-top: 0px;
    padding-top: 0px;
}

footer.row {
	padding-top:20px;
}

.sponsor h4 {
	font-family:"EB Garamond", serif;
	color: #8b887b;
	text-align:center;
}

.sponsor ul {
	display:block;
	margin: 0 auto;
	text-align:center;
	margin-bottom: 30px;
}
.sponsor li {
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #8b887b;
    padding: 20px;
    width: 80px;
    margin: 30px;
    height: 80px;
}

.footer-content {
	    border-top: 1px solid #000;
    padding-top: 3em;
    /* padding-bottom: 3em; */
    /* border-bottom: 1px solid #000; */
    margin-bottom: 10em;
}

.footer-content span {
	font-size: 1.8em;
	display:block;
	line-height:2.5em;
}


.footer-content .columns span:before{
    content: '';
    display: inline-block;
    width: 26px;
    background-size: 100%;
    float: left;
    margin: 0px 20px 0px 0px;
    height: 2.5em;
    background-position: center center;
    background-repeat: no-repeat;
}

.footer-content span.email:before{
    background-image: url('../assets/img/email.png');
}


.footer-content span.phone:before{
    background-image: url('../assets/img/phone.png');
    width: 20px;
    margin: 0px 23px 0px 3px;

}


.footer-content span.address:before{
    background-image: url('../assets/img/pin.png');
    width: 20px;
    margin: 0px 23px 0px 3px;
}

.footer-content span.address2 {
	line-height:0em;
}

.footer-content ul li {
	list-style:none;
	line-height: 2em;

}

li.head {
    background: transparent;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
    font-size: 0.6em;
    color: #a49042;
    margin-bottom:10px;
    }

.sitemap {
	padding-top: 14px;
}


span.socicon {
    font-family: 'socicon' !important;
    display: inline-block;
    	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
 }
 
 .socicon:hover {
	 color: #000;
 }
 
 .twitter {
	 color:#4099ff;
 }
 span.twitter:before {
	 width:0px;
	 margin:0px 6px 0px 0px;
	 padding:0px;
 }
 
 .facebook {
	 color: #3b5998;
 }
 .instagram {
	 color: #517fa4;
 }
 .vimeo {
	 color: #aad450;
 }
 .google {
	 color: #dd4b39;
 }

footer .bar {
	width:100%;
	margin-top:30px;
}

footer .bar span {
	display:inline-block;
}

footer .bar span img {
max-width: 200px;
}





/* ------ Interior Pages ------- */

.hero.Equestrian {
	background-image: url('../assets/img/tackroom-stretched.jpg');
	background-size:cover;
	background-position: center center;
}

.hero.Estate {
	background-image: url('../assets/img/estate-far.jpg');
	background-size:100% auto;
	background-position: top center;
}

.hero.boarding {
	background-image: url('http://royaltonequestrian.com/develop/royalton/wp-content/uploads/2015/08/horse-1024x682.jpg');
	background-size:cover;
	background-position: top 80% center;
}

.hero.trainers {
	background-image: url('http://royaltonequestrian.com/develop/royalton/wp-content/uploads/2015/08/DSC2201-1024x576.jpg');
		background-size:cover;
	background-position: center center;
}

.hero.Estates {
	background-image:url('../assets/img/estates.jpg');
	background-size: cover;
	background-position: center center;
}

.hero.Blood {
	background-image:url('../assets/img/horse-head.jpg');
	background-size: cover;
	background-position: center center;
}

hr.baby {
	border: 1px #a49042 solid;
	margin: 5em auto 5em auto;
	width: 30px;
}

.section-title.solo {
	    border-top: 1px #a49042 solid;
}

.subnav {
	display:block;
	max-width:600px;
	margin: 0 auto;
}

.subnav li {
	height:100px;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position:center center;
	  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

.subnav li:hover {
	transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
}

.subnav li.amenities {
	background-image: url('../assets/img/amenities.jpg');
}

.subnav li.boarding {
	background-image: url('../assets/img/boarding.jpg');
}

.subnav li.trainers {
	background-image: url('../assets/img/trainers.jpg');
}

.subnav li.amenities1 {
	background-image: url('../assets/img/amenities1.jpg');
}

.subnav li.events {
	background-image: url('../assets/img/events.jpg');
}

.subnav a {
	
}


.images-section .holder{
	float: none;
	margin: 0 auto;
	padding: 10px;
	
}

.images-section .holder .image {
	border: 10px solid #fff;
}

.video-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	
  background: -webkit-linear-gradient(120deg, rgba(38,17,37,0.8) 10%, rgba(0,52,57,0.8) 90%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(120deg, rgba(38,17,37,0.8) 10%, rgba(0,52,57,0.8) 90%); /* FF3.6+ */
  background:     -ms-linear-gradient(120deg, rgba(38,17,37,0.8) 10%, rgba(0,52,57,0.8) 90%); /* IE10 */
  background:      -o-linear-gradient(120deg, rgba(38,17,37,0.8) 10%, rgba(0,52,57,0.8) 90%); /* Opera 11.10+ */
  background:         linear-gradient(120deg, rgba(38,17,37,0.8) 10%, rgba(0,52,57,0.8) 90%); /* W3C */
     
   -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;   
}

.video-overlay .block-content{
		-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.video-overlay img {
	width:126px;
	display:inline-block;
	-webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.video:hover .video-overlay{
	color: #a49042;
}

.video-overlay:hover .block-content{
transform: scale(1.1);
 -webkit-transform: scale(1.1);
 -ms-transform: scale(1.1);
}



















/* Webkit only screens */
/*

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #splash .fullbg{ 
        background-attachment: inherit;
    }
}

.off-canvas-wrap, .inner-wrap {
    @media (min-width: 768px) {
        -webkit-backface-visibility: visible; 
    }
}
*/

/* Small screens */

@media only screen { 
	
	
} /* Define mobile styles */

@media only screen and (max-width: 40em) {
/*
	.inner-inner-wrap {
	overflow: auto;
    max-height: none;
    }
  */  
	.top-bar-container {
    	margin-top: 50px;
    	position: absolute;
    }
	.top-bar {
	display:block;
	padding-left: 20px;
	padding-right: 20px;
	height:100%;
	}
	.button.menu-dropdown {
	position: fixed;
    right: -20px;
    top:-20px;
    padding: 20px;
    background: #fff;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.2);
    z-index:2000;
    font-size:1.6em;
	}
	
	 .hero, #splash {
		background-size:cover;
		background-attachment:scroll;
	}
	
	.right-off-canvas-menu{ 
box-shadow: inset 1px 0px 30px rgba(0, 0, 0, 0.41);
-webkit-box-shadow:inset 1px 0px 30px rgba(0, 0, 0, 0.41);
}

	.subtitle, .top-bar-container.start .top-bar .bar, .top-bar-container-mobile .top-bar .bar{
		font-size: 1.0em;
	}
	
	.block {
		padding: 20px;
	}

 } /* max-width 640px, mobile-only styles, use when QAing mobile issues */

/* Medium screens */
@media only screen and (min-width: 40.063em) {
	
	#overlay .home, .front-equestrian .overlay {
	background-size: 100% !important;	
	}
	
	.top-bar-container.sticky {
		display:block;
	}
	
	.section {
    /*padding: 2em 2em !important;*/
    }

	.button.menu-dropdown.button::after, .menu-dropdown.button::after {
	    margin-top: -5px;
	}
	
	.top-bar .button {
		height: 1.75rem;
    position: relative;
    top: 0.53125rem;
	}


} /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */

@media only screen and (min-width: 1024px) and (max-width: 1118px) {

	.top-bar .title {
	width: 200px;
	}
	
	
 } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */



/* Large screens */
@media only screen and (min-width: 64.063em) {
	
	p {
		font-size:2.0em;
	}
	
	.top-blurb {
	    padding: 7em;
	    }
	
	
	
	
} /* min-width 1025px, large screens */

@media only screen and (min-width: 64.063em) and (max-width: 90em) { } /* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */

/* XLarge screens */
@media only screen and (min-width: 90.063em) { } /* min-width 1441px, xlarge screens */

@media only screen and (min-width: 90.063em) and (max-width: 120em) { } /* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */

/*  XXLarge screens  */
@media only screen and (min-width: 120.063em) { } /* min-width 1921px, xxlarge screens */
